.log-in-section {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    min-height:100dvh;
}

@media (width <= 600px) {
    .log-in-section {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .log-in-form {
        padding:1rem;
    }
}
